body {
    background-color: #e59500;
}
h1 {
    color: #02040F;
    text-align: center;
}
.topnav a{
    display: inline-block;
    color: #002642;
    text-align: center;
    padding: 15px 354px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
.topnav a:hover{
    background-color: #e5dada;
    color: #02040F;
    border-bottom: 3px solid #002642;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}