body {
    background-color: #e59500;
}
h1 {
    color: #02040F;
    text-align: center;
}
.topnav a{
    background-color: #002642;
    display: inline-block;
    color: #e5dada;
    text-align: center;
    padding: 15px 225px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
.topnav a:hover{
    background-color: #e5dada;
    color: #02040F;
    border-bottom: 3px solid #02040F;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 300px;
}
div {
    background-color: #002642;
    position: sticky;
    top: 0;
}
.gitimage {
    float: left;
    height: 500px;
    width: 700px;
}
li {
    font-size: 100px;
}
.courses {
    font-size: 50px;
}
ol li{
    font-size: 30px;
}
p {
    font-size: 20px;
}